.settings {
	padding-top: 50px;
	section {
		padding: 60px 0;
	}
	h1 {
		margin: 0 0 40px;
	}
	.account-settings {
		.form-group {
			padding: 20px 0;
			margin: 0;
			border-top: solid 1px #ececec;
			.control-label {
				text-align: left;
			}
		}
	}
}