<div class="thumbnail profile-widget-1">
	<a href=""><%= image_tag 'sample-thumbs/1.jpg', :class => 'img-responsive' %></a>
	<div class="caption">
		<a href="">
			<h4><%= lorem.first_name %> <%= lorem.last_name %></h4>
			<p><%= truncate(lorem.paragraph, :length => 50) %></p>
			<ul class="nav nav-justified">
				<li><span class="badge"><i class="fa fa-users"></i> 135</span> Followers</li>
			</ul>
		</a>
		<a href="" class="btn btn-block btn-lg" role="button"><i class="fa fa-thumbs-up"></i> Say Thanks</a>
	</div>
</div>