<div class="shared-post">
	<div class="post">
		<div class="head">
			<div class="media">
			  <div class="media-body">
			    <h4 class="media-heading"><a href=""><%= lorem.first_name %> <%= lorem.last_name %></a> <span>originally shared:</p></h4>
			  </div>
			</div>
		</div>
		<div class="body">
			<p><%= lorem.paragraph %></p>
			<div class="attachments">
				 <p><strong>Attachment:</strong> 4 photos</p>
			</div>
		</div>
	</div>
</div>