<!-- Modal -->
<div class="modal fade sharePostForm kaede-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">		  
        <h4 class="modal-title"><i class="fa fa-share"></i> Share post</h4>
      </div>
      <div class="modal-body">
		  <form>
			  <textarea placeholder="Say something about this..." rows="3" class="form-control fixed-textarea"></textarea>
			  <%= partial "partials/shared-post2" %>
			  <button type="button" class="btn btn-primary btn-lg btn-block">Share Post</button>
		  </form>
      </div>
    </div>
  </div>
</div>