<footer class="user-footer">
	<div class="container">
		<div class="clearfix">
			<div class="pull-left">
				<ul class="nav nav-pills">
					<li class="brand"><a href="">Thankyouspot</a></li>
					<li><a href="static.html">About</a></li>
					<li><a href="static.html">Terms</a></li>
				</ul>
			</div>
			<div class="pull-right">
				<p>Copyright &copy; 2015. All Rights Reserved.</p>
			</div>
		</div>
	</div>
</footer>