---
title: Account Settings
layout: user
---

<section class="head">
	<div class="container">
		<h1 class="center">Account Settings</h1>
		<div class="col-md-6 col-md-offset-3">
		  	<!-- Nav tabs -->
		  	<ul class="nav nav-tabs nav-justified" role="tablist">
		  	  <li role="presentation" class="active"><a href="#profile-settings" aria-controls="home" role="tab" data-toggle="tab">Profile</a></li>
		  	  <li role="presentation"><a href="#password-settings" aria-controls="profile" role="tab" data-toggle="tab">Change Password</a></li>
		  	</ul>
		</div>
	</div>
</section>
<section class="account-settings">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				
			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="profile-settings">
					<form role="form" class="form-horizontal">
						<div class="alert alert-danger alert-dismissible" role="alert">
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						  Everything is <strong>wrong!</strong>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Profile Picture</label>
							<div class="col-sm-9">
								<div class="media">
								  <div class="media-left">
									  <div class="thumbnail">
										  <%= image_tag 'sample-thumbs/2.jpg', :class => 'img-rounded media-object', :width => '80' %>
									  </div>
								  </div>
								  <div class="media-body">
									<a href="" class="btn btn-default">Change Picture</a>
									<input type="file" class="form-control hidden">
								  </div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Profile Header</label>
							<div class="col-sm-9">
								<div class="thumbnail">
									<%= image_tag 'sample-thumbs/profile-header.jpg', :class => 'img-rounded' %>
								</div>
								<a href="" class="btn btn-default btn-block">Change Header</a>
								<input type="file" class="form-control hidden">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Name</label>
							<div class="col-sm-9">
								<input type="text" value="Oprah Winfrey" class="form-control">
								<span class="help-block">We're big on real names around here, so people know who's who</span>
							</div>
						</div>
						<div class="form-group has-error">
							<label class="col-sm-3 control-label">Email</label>
							<div class="col-sm-9">
								<input type="email" value="oprahwinfrey@gmail.com" class="form-control">
								<span class="help-block">Error message goes here!</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Bio</label>
							<div class="col-sm-9">
								<textarea cols="40" rows="4" class="form-control">YouTuber, graphic designer, Tumblrererer, ampersand lover, and venn-diagramatically brilliant.</textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"></label>
							<div class="col-sm-9">
								<input type="submit" value="Update Profile" class="btn btn-success pull-right">
							</div>
						</div>
					</form>
				</div>
			    <div role="tabpanel" class="tab-pane" id="password-settings">
			    	<form role="form" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-3 control-label">Old Password</label>
							<div class="col-sm-9">
								<input type="password" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">New Password</label>
							<div class="col-sm-9">
								<input type="password" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"></label>
							<div class="col-sm-9">
								<input type="submit" value="Change" class="btn btn-success pull-right">
							</div>
						</div>
					</form>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</section>