---
title: Account Settings
layout: user
---

<section class="account-settings">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="center">Account Settings</h1>
				<form role="form" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-3 control-label">Profile Picture</label>
						<div class="col-sm-9">
							<div class="media">
							  <div class="media-left">
								  <div class="thumbnail">
									  <%= image_tag 'sample-thumbs/2.jpg', :class => 'img-rounded media-object', :width => '80' %>
								  </div>
							  </div>
							  <div class="media-body">
								<a href="" class="btn btn-default">Change Picture</a>
								<input type="file" class="form-control hidden">
							  </div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Name</label>
						<div class="col-sm-9">
							<input type="text" value="Oprah Winfrey" class="form-control">
							<span class="help-block">We're big on real names around here, so people know who's who</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Email</label>
						<div class="col-sm-9">
							<input type="email" value="oprahwinfrey@gmail.com" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Bio</label>
						<div class="col-sm-9">
							<textarea cols="40" rows="4" class="form-control">YouTuber, graphic designer, Tumblrererer, ampersand lover, and venn-diagramatically brilliant.</textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Password</label>
						<div class="col-sm-9">
							<input type="password" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"></label>
						<div class="col-sm-9">
							<input type="submit" value="Update Profile" class="btn btn-success pull-right">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>