---
title: Search - john
layout: user
---

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>Terms of Service</h1>
				<p>Last updated on January 17, 2015</p>
				<hr />
				<% for i in 1..5 %>
					<h3><%= lorem.words 3 %></h3>
					<% for i in 1..5 %>
					<p><%= lorem.paragraph %></p>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</section>